<section class="min-h-screen flex items-center px-12 bg-gradient-to-br from-black via-[#12001f] to-black text-white">
  <div>
    <h1 class="text-5xl font-bold mb-4">
      Hi, I’m <span class="text-purple-400">Ansh Vashisht</span>
    </h1>

    <p class="text-gray-400 text-lg mb-8">
      Software Engineer | An Explorer | Tech Enthusiast | MERN
    </p>

    <button
      routerLink="/projects"
      class="bg-purple-600 hover:bg-purple-700 px-6 py-3 rounded-xl transition"
    >
      View Projects
    </button>
  </div>
</section>